.container {
    background-color: #2b2d2f;
    position: absolute; 
}

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;
    /* position: static; */
}

#pink-box {
    background-color: #ff69b4;
    /* position: relative;
    bottom: 0;
    left: -20px;
    right: 0; */
    position: sticky;
    /* left: 300px; */
    top: 60px;
    /* bottom: 60px; */
}

#blue-box {
    background-color: #00eeee;
    /* position: absolute; */
}
